
a{
    text-decoration: none;
    color: white;
    /* font-size: 14px; */
}
a:hover, a:active{
    color:lightgray;
}
ul{
    list-style-type: none;
}
.navigation-items{
        font-size: 14px;
}

.nav-caption{
    display: inline-block;
    padding-left: 6px;
}